<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IITJ Forum & Help</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <div class="mainContent">
        <form action="/" method="post">
            <input class="add_question" type="text" placeholder="What's in your mind" name="newQues" required autocomplete="off">
            <button type="submit">Submit</button>
        </form>
        <form action="/1" method="get" class="page-number-button"><button>1</button></form>
        <form action="/2" method="get" class="page-number-button"><button>2</button></form>
        <form action="/3" method="get" class="page-number-button"><button>3</button></form>
        <form action="/4" method="get" class="page-number-button"><button>4</button></form>
        <form action="/5" method="get" class="page-number-button"><button>5</button></form>
        <% for(var i =0 ; i< numberOfQues ; i++) { %>
            <p class="question"> <%= question[question.length-i-1-(pageNum-1)*100].questionText %> </p>
            <form action="/comment" method="post">
                <div>
                <input type="text" name="commentText" required  placeholder="Add a comment" autocomplete="off">
                <button type="submit" value="<%= question[question.length-i-1-(pageNum-1)*100]._id %>" name="submitComment">Add</button>
                </div>
            </form>
            <% for(var j=0;j<question[question.length-i-1-(pageNum-1)*100].comments.length;j++){ %>
                <p class="comment"> <%= question[question.length-i-1-(pageNum-1)*100].comments[question[question.length-i-1-(pageNum-1)*100].comments.length-j-1].commentText %> </p>
                <hr width="70%">
            <%}%>
            
        <% } %>
        <form action="/1" method="get" class="page-number-button"><button>1</button></form>
        <form action="/2" method="get" class="page-number-button"><button>2</button></form>
        <form action="/3" method="get" class="page-number-button"><button>3</button></form>
        <form action="/4" method="get" class="page-number-button"><button>4</button></form>
        <form action="/5" method="get" class="page-number-button"><button>5</button></form>
    </div>
</body>
</html>
