<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>No question</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <h1>No question here</h1>
    <a href="/">Visit home page</a>
    <h3>Or add a question</h3>
    <form action="/" method="post">
        <input class="add_question" type="text" placeholder="What's in your mind" name="newQues" required autocomplete="off">
        <button type="submit">Submit</button>
    </form>
    <form action="/1" method="get" class="page-number-button"><button>1</button></form>
        <form action="/2" method="get" class="page-number-button"><button>2</button></form>
        <form action="/3" method="get" class="page-number-button"><button>3</button></form>
        <form action="/4" method="get" class="page-number-button"><button>4</button></form>
        <form action="/5" method="get" class="page-number-button"><button>5</button></form>
</body>
</html>