body{
    background-color:  #E4F9F5;
    text-align: center;
    color: black;
}

.add_question{
    width: 50%;
    /*height: 60px;*/
    text-align: top;
}

.question{
    background-color: #11999E;
    border: 1px solid blue; 
    box-sizing: border-box;
    height: wrap;
    margin: 20px auto;
    padding: 10px ;
    width: 500px;
    
}
p{
    word-wrap: break-word;
}
.mainContent{
    margin: 5%;
    border: solid grey 2px;
}

.comment{
    background-color: rgb(189, 185, 185);
    margin-left: auto;
    margin-right: auto;
    width: 65%;
}
.page-number-button{
    display: inline;
    margin: 1% ;
}
.add_question{
    margin-bottom: 1%;
}
.commDiv{
    display: none;
}
.comment-show{
    margin: 2%;
}
.singleComment{
    border:5px solid hotpink ;
    margin-bottom: 1%;
    margin-top: 1%;
    margin-left: 1%;
    margin-right: 1%;
}
.singleQuestion{
    border-style: solid none none none;
    border-width: 10px ;
    border-color: red;

    margin-bottom: 2%;
    margin-top: 2%;
    
}
.userQuestion{
    background-color: blueviolet;
    margin-left: auto;
    margin-right: auto;
    width: 65%;
}
.userComment{
    background-color: chocolate;
    margin-left: auto;
    margin-right: auto;
    width: 65%;
}
.jumbotron{
    background-color: coral;
}
.wholeAddQuestion{
    margin-bottom: 3%;
}